**MACHINE LEARNING LAB1**

In [19]:
a = 10
var1 = 20
gun = "pazartesi"

print(a)
print(var1)
print(gun)

type(gun)

10
20
pazartesi

str

In [20]:
#Define a list
var1 = 1
var2 = 2
var3 = 3

list_int = [1, 2, 3]
print(list_int)

[1, 2, 3]

In [6]:
#First element of the list
list_int[0]

1

In [7]:
#Last element of the list
list_int[-1]

3

In [8]:
#Variables in the range of list
list_int[0:3]

[1, 2, 3]

In [9]:
#To add variables to the list
list_int.append(4)
print(list_int)

[1, 2, 3, 4]

In [10]:
#To delete variables to the list 
list_int.remove(3)
print(list_int)

[1, 2, 4]

In [11]:
#To print the list in reverse
list_int.reverse()
print(list_int)

[4, 2, 1]

In [12]:
#To sort the list from smallest to largest
list_int.sort()
print(list_int)

[1, 2, 4]

In [21]:
#To find maximum element with for loop
x = 0
for each in list_int:
    if(each>x):
        x = each
    else:
        continue
print(x)

3

In [17]:
#To print from 0 to 5 with while loop(5 is not included)
i = 0
while(i<5):
    print(i)
    i = i+1

0
1
2
3
4

In [16]:
#To use function
def cember_cevre(r, pi = 3.14):  
    result = 2*pi*r
    return result

cember_cevre(2)

12.56

In [22]:
#Another example for function
def hesapla(x):
    result = x*x
    return result

hesapla(5)

25

In [23]:
#Shorter way to use function is lambda 
result = lambda x:x*x

print(result(5))

25

In [30]:
#To use dictionary
dictionary = {"zeynep":22, "anil":20, "kerem":7} 
print(dictionary)

{'zeynep': 22, 'anil': 20, 'kerem': 7}

In [25]:
type(dictionary)

dict

In [26]:
dictionary.keys()

dict_keys(['zeynep', 'anil', 'kerem'])

In [27]:
dictionary.values()

dict_values([22, 20, 7])

In [29]:
#To find out if the keys is in the dictionary
value = dictionary.keys()

if "anil" in value:
    print("yes")
else:
    print("no")

yes